body{
    background-color: antiquewhite;

}

h1{

    color: brown;
}
.exemplo-back{
    height: 300px;
    background-color: goldenrod;
    background-image: url("/img/fundo.jpg");
    background-size: cover;
}