/* smartphones 600px para baixo */

@media only screen and (max-width:600px) {
    body{
        background: blue
    }
}
/* Despositivos um pouco maiores mais ainda pequenos */
@media only screen and (min-width:600px) {
    body{
        background: green
    }
}
/*Despositivos Medios (tablets deitados)*/
@media only screen and (min-width:768px) {
    body{
        background: yellow
    }

}
/* Despositivos Largos (Laptops desktops)*/
@media only screen and (min-width:992px) {
    body{
        background: rgb(255, 51, 0)
    }

}
/* Despositivos super largos (Telas Maiores laptops)*/
@media only screen and (min-width:1200px) {
    body{
        background: rgb(20, 20, 20)
    }

}